<%# cssは商品出品のものを併用しています。
app/assets/stylesheets/items/new.css %>

<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('11273.png' , size: '75x75'), "/" %>
    <p class="inc">
        ©︎ Household Appliances.
      </p>
  </header>
  <div class="items-sell-main">
      <h2 class="items-sell-title">商品の情報を入力</h2>
    <%= form_with model: @item, url: item_path(@item), local: true do |f| %>

      <%= render 'shared/error_messages', model: f.object %>

      <%# 出品画像 %>
      <div class="img-upload">
        <div class="weight-bold-text">
          商品画像
          <span class="indispensable">必須</span>
        </div>
        <div class="click-upload">
          <p>
            クリックしてファイルをアップロード
          </p>
          <%= f.file_field :image, id:"item-image" %>
        </div>
      </div>
     
      <div class="new-items">
        <div class="weight-bold-text">
          商品名
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
        <div class="items-explain">
          <div class="weight-bold-text">
            商品の説明
            <span class="indispensable">必須</span>
          </div>
         <%= f.text_area :explanation, class:"items-text", id:"item-info", placeholder:"商品の説明（必須 1,000文字まで）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。" ,rows:"7" ,maxlength:"1000" %>
        </div>
      </div>

      <%# 商品の詳細 %>
      <div class="items-detail">
        <div class="weight-bold-text">商品の詳細</div>
        <div class="form">
          <div class="weight-bold-text">
            カテゴリー
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
          <div class="weight-bold-text">
            商品の幅
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :width, class:"items-text", id:"item-info", placeholder:"商品の幅(必須) 例）770mm" %>
          <div class="weight-bold-text">
            商品の奥行き
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :depth, class:"items-text", id:"item-info", placeholder:"商品の奥行き(必須) 例）1300mm" %>
          <div class="weight-bold-text">
            商品の縦
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :height, class:"items-text", id:"item-info", placeholder:"商品の縦(必須) 例）1850mm" %>
        </div>
      </div>

      <%# 販売価格 %>
      <div class="sell-price">
        <div class="weight-bold-text question-text">
          <span>参考価格<br>(¥300〜9,999,999)</span>
          <a class="question" href="#">?</a>
        </div>
      </div>
      <div>
        <div class="price-content">
          <div class="price-text">
              <span>価格</span>
              <span class="indispensable">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"item-price", min: 300, max: 9999999, placeholder:"例)300" %>
        </div>
      </div>
      *価格.comより*

      <%# 下部ボタン %>
      <div class="sell-btn-contents">
        <%= f.submit "変更する" , class:"sell-btn" %>
        <%=link_to 'もどる', root_path, class:"back-btn" %>
      </div>
    <% end %>
  </div>

  <footer class="items-sell-footer">
    <%# <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">フリマ利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul> %>
    <%= link_to image_tag('11273.png' , size: '75x75'), "/" %>
    <p class="inc">
      ©︎ Household Appliances.
    </p>
  </footer>
</div>