<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      時間がない人も、家電が好きな人も
    </h2>
    <p class='service-explain'>
      だれでもかんたんに検索できる
    </p>
    <p class='service-explain'>
      生活家電検索サイトです
    </p>
  </div>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <%= link_to '商品一覧', "/items/new", class: "subtitle" %>
    <ul class='item-lists'>
      <% @items.each do |item| %>
        <li class='list'>
          <%= link_to item_path(item.id) do %>
            <div class='item-img-content'>
             <%= image_tag item.image, class: "item-img" if item.image.attached? %>
                  <%# <% 商品が売れていればsold outの表示 %>
                  <%# <% if item.purchase != nil %>
                    <%# <div class='sold-out'> %>
                      <%# <span>Sold Out!!</span>
                    </div>
                  <% end %> 
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= item.name %>
              </h3>
              <div class='item-price'>
                <span><%= item.price %>円<br>(税込み)</span>
                  <div class='star-btn'>
                    <%= image_tag "star.png", class:"star-icon" %>
                    <span class='star-count'>0</span>
                  </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# //商品一覧 %>
</div>
        <div class='purchase-btn'>
          <span class='purchase-btn-text'>登録する</span>
          <a href="/items/new">
            <%= image_tag '072-map-icon.jpg' , size: '185x50' ,class: "purchase-btn-icon" %>
          </a>
        </div>
<%= render "shared/footer" %>